version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10

    groups:
      python-deps:
        patterns:
          - "*"

    ignore:
      - dependency-name: "python"
